#copyright {
    background-image: linear-gradient(to bottom, #FAF9F6, silver);
}

#footer-info {
    text-align: justify;;
}


.copyright {
    padding-top: 25px;
    color: #FAF9F6;
    
}

.social-media-icons {
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 5px
}

h6 {
    font-size: 18px;
}

.social-icon {
    margin: 10px;
}